# =========================
# PYTHON & MÔI TRƯỜNG ẢO
# =========================
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/
.conda/

# =========================
# IDE & HỆ ĐIỀU HÀNH
# =========================
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# =========================
# DỮ LIỆU & DATABASE (KHÔNG PUSH 10GB DATA)
# =========================
data/
dummy_data/
images/
*.csv
*.ipynb_checkpoints/

# =========================
# BACKEND (FASTAPI)
# =========================
temp/

# =========================
# FRONTEND (VUE & VITE)
# =========================
node_modules/
frontend/node_modules/
dist/
frontend/dist/
dist-ssr/
*.local
.vite/
.vite-temp/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Chặn file checkpoint nặng nhất nhưng giữ lại model tốt nhất
outputs/checkpoint_latest.pth