# Python & Môi trường ảo
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/

# IDE & Editor
.vscode/
.idea/
*.swp
.DS_Store

# PyTorch & Trọng số mô hình
*.pth
*.pt
*.h5
*.keras
outputs/

# Dữ liệu & Notebooks
data/
dummy_data/
*.ipynb_checkpoints/